<!-- <StatsBar totalVolume={this.state.totalVolume} /> -->
  <div class='Outer'>
    <div>
      <div class='AutoCompleteContainer'>
        <app-auto-complete-input
          [data]="this.getToken1List()"
          placeholder="Maker Token"
          displayField='name'
          imageField='logo'
          secondaryField='symbol'
          disabled={{!hasLoadedData}}
          itemSelected={{handleToken1Selected}}
          excludeItem={{selectedToken2}}
          cleared={{handleToken1Selected}}
          zIndex='20'>
        </app-auto-complete-input>
      </div>
      <div class='AutoCompleteContainerRight'>
        <app-auto-complete-input
          [data]="this.getToken2List()"
          placeholder="Taker Token"
          displayField='name'
          imageField='logo'
          secondaryField='symbol'
          disabled={{!hasLoadedData}}
          excludeItem={{selectedToken1}}
          itemSelected={{handleToken2Selected}}
          cleared={{handleToken2Selected}}
          zIndex='10'>
        </app-auto-complete-input>
      </div>
      <!-- {marketplaceButtons} -->
    </div>
    <div class='TabsBarContainer'>
      <!-- {tabsBarElement} -->
    </div>
    <div class='MenuContainer'>
      <!-- {menuElement} -->
    </div>
    <!-- <div>{statusMessageElement}</div> -->
    <!-- <div>{spinnerElement}</div> -->
    <div class='TableContainer'>
      <!-- {tokenStatsElement}
      {viewElement} -->
    </div>
  </div>