<!-- <StatsBar totalVolume={this.state.totalVolume} /> -->
  <div class='Outer'>
    <div>
      <div class='AutoCompleteContainer'>
        <!-- <AutoCompleteInput placeholder="Maker Token"
          displayField='name'
          imageField='logo'
          secondaryField='symbol'
          disabled={!this.state.hasLoadedData}
          itemSelected={this.handleToken1Selected}
          excludeItem={this.state.selectedToken2}
          cleared={this.handleToken1Selected}
          zIndex='20'>
          {this.getToken1List()}
        </AutoCompleteInput> -->
      </div>
      <div class='AutoCompleteContainerRight'>
        <!-- <AutoCompleteInput placeholder="Taker Token"
          displayField='name'
          imageField='logo'
          secondaryField='symbol'
          disabled={!this.state.hasLoadedData}
          excludeItem={this.state.selectedToken1}
          itemSelected={this.handleToken2Selected}
          cleared={this.handleToken2Selected}
          zIndex='10'>
          {this.getToken2List()}
        </AutoCompleteInput> -->
      </div>
      <!-- {marketplaceButtons} -->
    </div>
    <div class='TabsBarContainer'>
      <!-- {tabsBarElement} -->
    </div>
    <div class='MenuContainer'>
      <!-- {menuElement} -->
    </div>
    <!-- <div>{statusMessageElement}</div> -->
    <!-- <div>{spinnerElement}</div> -->
    <div class='TableContainer'>
      <!-- {tokenStatsElement}
      {viewElement} -->
    </div>
  </div>