<div style='position: relative; display: inline-block; width: 100%; z-index: 10;'>
  <!-- {suggestedElement} -->
  <Input
    placeholder=this.placeholder
    class=this.props.classes.input
    classes={{ underline: error ? this.props.classes.underlineError : this.props.classes.underline }}
    fullWidth
    error=this.error
    onFocus=this.handleGotFocus
    onBlur=this.handleLostFocus
    onChange=this.handleInputChanged
    onKeyDown=this.handleKeyDown
    inputProps={{ 'aria-label': 'Description' }}
    value=this.state.inputValue
    type='search'
    disabled=this.disabled
    startAdornment=adorner>
  </Input>
  <!-- {popup} -->
</div>