
.ComplexItemWrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  align-items: center;
  /* display: flex */
}

.ItemImageField {
  /* width: 24px; */
  height: 28px;
  margin-right: 10px;
  float: left;
}

.ItemDisplayField {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
}

.ItemSecondaryField {
  float: right;
  font-weight: bold;
}

.input {
  margin: 0;
  font-family: 'Open Sans';
}

.underline {
  &:after {
    background-color: '#008eff';
  }
}

.underlineError {
  &:after {
    background-color: 'red';
  }
}

.menuItemHovered {
  font-family: 'Open Sans';

  &:hover {
    background-color: '#008eff60',
  }
}

.paper {
  margin: 0;
  font-family: '100%';
}