<div [ngStyle]="applyContainerStyle()">
  <!-- {suggestedElement} -->
  <Input
    placeholder={{placeholder}}
    (keydown.tab)="handleKeyDown($event)"
    (keydown.enter)="handleKeyDown($event)"
    (blur)="handleLostFocus($event)"
    (focus)="handleGotFocus($event)"
    (change)="handleInputChanged($event)"
    type='search'
    disabled={{disabled}}
    inputProps="{'aria-label': 'Description'}"
    fullWidth
    class='input'
    value={{inputValue}}
    >
</div>
  <!--

    classes={{ underline: error ? this.props.classes.underlineError : this.props.classes.underline }}
    error=this.error
    startAdornment=adorner
    -->